.hero {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      
}

.hero::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('./../../img/1.png');
      background-size: cover;
      background-position: center;
      /* filter: blur(8px);  */
      z-index: -1; 
      opacity:0.1; 
}

